{% extends 'base.html' %}

{% block content  %}

  {% if message %}
          <script>
              alert({{message}})
          </script>
  {% endif %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="timeframe-tab" data-toggle="tab" href="#timeframe" role="tab" aria-controls="timeframe" aria-selected="true">Timeframe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="concurrency-tab" data-toggle="tab" href="#concurrency" role="tab" aria-controls="concurrency" aria-selected="false">Concurrency</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="timeframe" role="tabpanel" aria-labelledby="timeframe-tab">

    <div class="container-fluid">

      {% autoescape off %}
      {{ concurrency_plt_div }}
      {% endautoescape %}

      {% autoescape off %}
      {{ bar_timeframe_plt_div }}
      {% endautoescape %}

      {% autoescape off %}
      {{ timeframe_plt_div }}
      {% endautoescape %}

      {% autoescape off %}
      {{ lifetime_plt_div }}
      {% endautoescape %}

    </div>

  </div>

  <div class="tab-pane fade" id="concurrency" role="tabpanel" aria-labelledby="concurrency-tab">


  <div class="container-fluid">
        <h3 class="mt-4" style="color:#00529F;">None Event Logs</h3>
        <br>
        <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
                <form  name="n_choice" action="upload_eventlog" method = "POST">
                    {% csrf_token %}

                    <select name="n_log_list" class="custom-select" size="10">
                        {% for n_eventlog in n_eventlog_list %}
                            <option value="{{n_eventlog}}">{{n_eventlog}}</option>
                        {% endfor %}
                    </select>

                    <input style="margin-top: 10px;" type = "submit" class="btn btn-danger" value = "Delete" name= "n_deleteButton" id ='n_deleteButton'/>
                    <input style="float: right; margin-top: 10px;" type = "submit" class="btn btn-info" value = "Download" name= "n_downloadButton" id ='n_downloadButton'/>

                </form>

          </div>
        </div>

      </div>


  </div>
</div>




{% endblock %}