{% extends 'base.html' %}

{% block content  %}

  {% if message %}
          <script>
              alert({{message}})
          </script>
  {% endif %}
  <style>

    .link {
      stroke: #000;
      stroke-width: 1.5px;
    }
    
    .node {
      cursor: move;
      fill: #ccc;
      stroke: #000;
      stroke-width: 1.5px;
    }
    
    .node.fixed {
      fill: #f00;
    }
    
            #mynetwork1 {
                width: 800px;
                height: 800px;
                background-color: #ffffff;
                border: 1px solid lightgray;
                position: relative;
                float: left;
            }
    
            #mynetwork2 {
                width: 800px;
                height: 800px;
                background-color: #ffffff;
                border: 1px solid lightgray;
                position: relative;
                float: left;
            }
            
            #mynetwork3 {
                width: 800px;
                height: 800px;
                background-color: #ffffff;
                border: 1px solid lightgray;
                position: relative;
                float: left;
            }
    
    .canvas {
        width:800px;
        height:800px;
    }
</style>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.css" type="text/css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"> </script>

</head>
<body>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="organisation-tab" data-toggle="tab" href="#organisation" role="tab" aria-controls="organisation" aria-selected="true">Organisational View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="doctor-tab" data-toggle="tab" href="#doctor" role="tab" aria-controls="disease" aria-selected="false">Doctor View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="disease-tab" data-toggle="tab" href="#disease" role="tab" aria-controls="disease" aria-selected="false">Disease View</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="organisation" role="tabpanel" aria-labelledby="timeframe-tab">
    <div class="container-fluid" id="graph">
      <div class="row">
      <div class="col-4">
        <br>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Overview</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Cases:</th>
              <td>{{result.Ncase}}</td>
            </tr>
            <tr>
              <th scope="row">Events:</th>
              <td>{{result.Nactivities}}</td>
            </tr>
            <tr>
              <th scope="row">Variants:</th>
              <td>{{result.Nvariant}}</td>
            </tr>
            <tr>
              <th scope="row">Unique Activities:</th>
              <td>{{result.Nunique_Activities}}</td>
            </tr>
             <tr>
              <th scope="row">Start Time:</th>
              <td>{{result.StartTime}}</td>
            </tr>
            <tr>
              <th scope="row">End Time:</th>
              <td>{{result.EndTime}}</td>
            </tr>
             <tr>
              <th scope="row">Duration</th>
              <td>{{result.Duration}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-8">
        <form  name="perspective_view" action="perspective_view" method = "POST">

            <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
              {% if log_name != ':notset:' %}
            
              {% else %}
                <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log as input!</p>
              {% endif %}

            {% csrf_token %}

          </div>
        </div>
        <br>



        </form>
          <form action="" method="get">
            {% csrf_token %}
            <div id="mynetwork1"></div>
       </form>
      </div>
    </div>
    </div>

  </div>

  <div class="tab-pane fade" id="doctor" role="tabpanel" aria-labelledby="concurrency-tab">
    <div class="container-fluid" id="graph">
      <div class="row">
      <div class="col-4">
        <br>
        <div class="overflow-auto" style="height: 550px;">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Case</th>
            </tr>
          </thead>
          <tbody>
            {% for value in result.case %}
            <tr>
              <td scope="row"><a href="#disease">Case {{value.Name}} {{value.variant}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <table class="table table-sm table-hover">
          <div class="fixed-bottom">
          <thead>
            <tr>
              <th scope="col">
                <select class="form-select " aria-label="Default select example">
                  <option selected>Directly Follows Graph</option>
                  <option value="1">Case Overview</option>
                </select>
              </th>
            </tr>
          </thead>
        </div>
        </table>
        
      </div>
      <div class="col-8">
        <form  name="perspective_view" action="perspective_view" method = "POST">

            <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
              {% if log_name != ':notset:' %}
              {% else %}
                <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log as input!</p>
              {% endif %}

            {% csrf_token %}

          </div>
        </div>
        <br>



        </form>
          <form action="" method="get">
            {% csrf_token %}
            <div id="mynetwork2"></div>
       </form>
      </div>
    </div>
    </div>

  </div>

  <div class="tab-pane fade" id="disease" role="tabpanel" aria-labelledby="concurrency-tab">
    <div class="container-fluid" id="graph">
      <div class="row">
      <div class="col-4">
        <br>
        <div class="overflow-auto" style="height: 550px;">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Variant </th>
            </tr>
          </thead>
          <tbody>
            {% for value in result.variant %}
            <tr>
              <td scope="row"> <a href="#doctor"> {{value.Name}} {{value.Cases}} </a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <table class="table table-sm table-hover">
          <div class="fixed-bottom">
          <thead>
            <tr>
              <th scope="col">
                <select class="form-select " aria-label="Default select example">
                  <option selected>Directly Follows Graph</option>
                  <option value="1">Variant Overview</option>
                </select>
              </th>
            </tr>
          </thead>
        </div>
        </table>
      </div>
      <div class="col-8">
        <form  name="perspective_view" action="perspective_view" method = "POST">

            <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
              {% if log_name != ':notset:' %}
             {% else %}
                <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log as input!</p>
              {% endif %}

            {% csrf_token %}

          </div>
        </div>
        <br>



        </form>
          <form action="" method="get">
            {% csrf_token %}
            <div id="mynetwork3"></div>
       </form>
      </div>
    </div>
    </div>

  </div>
</div>
</body>



{% endblock %}
{% block script %}
<script type="text/javascript">

  var data = "{{data | escapejs}}";
  data = JSON.parse(data);


const options = {
    layout: { randomSeed: 2 },
    interaction:{
        hover: true,
        dragNodes:false,
        multiselect: true,
        selectable: true,
    },
    edges: {
         arrows: {
          to:     {enabled: true, scaleFactor:1, type:'arrow'},
          from:   {enabled: false, scaleFactor:1, type:'arrow'},
          length: 1000
          }
      },
    manipulation: {
    enabled: true
    }
};

// Everything is in there
const makeMeMultiSelect = (container, network, nodes) => {
		const NO_CLICK = 0;
		const RIGHT_CLICK = 3;

    // Disable default right-click dropdown menu
    container[0].oncontextmenu = () => false;

    // State

    let drag = false, DOMRect = {};

    // Selector

    const canvasify = (DOMx, DOMy) => {
    		const { x, y } = network.DOMtoCanvas({ x: DOMx, y: DOMy });
      	return [x, y];
    };

    const correctRange = (start, end) =>
        start < end ? [start, end] : [end, start];

    const selectFromDOMRect = () => {
        const [sX, sY] = canvasify(DOMRect.startX, DOMRect.startY);
        const [eX, eY] = canvasify(DOMRect.endX, DOMRect.endY);
        const [startX, endX] = correctRange(sX, eX);
        const [startY, endY] = correctRange(sY, eY);

        network.selectNodes(nodes.get().reduce(
            (selected, { id }) => {
                const { x, y } = network.getPositions(id)[id];
                return (startX <= x && x <= endX && startY <= y && y <= endY) ?
                    selected.concat(id) : selected;
            }, []

        ));
    }
    // Listeners

    var mySelectionOrder = [];
    var previouslySelected = {};
network.on('click', function (properties) {

  selection = properties.nodes
  document.getElementById('values').value = selection;

  drag = false;

  if (selection > 0) {
    var node_sel = nodes.get([selection])[0];
    if(node_sel['selected']){
      alert('add you buttons');
    }
    else{
      alert('change the style here');
      node_sel['selected'] = true;
      node_sel['shape'] = 'box';
      nodes.update(node_sel);
      var msg = JSON.stringify(nodes.get([selection]))
      alert(msg);
    }
  }
});

    network.on("deselectNode", function (params) {
        console.log('deselectNode Event:', params.nodes[0]);
    });



    // Drawer

    network.on('afterDrawing', ctx => {
        if(drag) {
            const [startX, startY] = canvasify(DOMRect.startX, DOMRect.startY);
            const [endX, endY] = canvasify(DOMRect.endX, DOMRect.endY);

            ctx.setLineDash([5]);
            ctx.strokeStyle = 'rgba(78, 146, 237, 0.75)';
            ctx.strokeRect(startX, startY, endX - startX, endY - startY);
            ctx.setLineDash([]);
            ctx.fillStyle = 'rgba(151, 194, 252, 0.45)';
            ctx.fillRect(startX, startY, endX - startX, endY - startY);
        }
    });
}; // end makeMeMultiSelect

$(document).ready(() => {
		const container = $("#mynetwork1");
    const network = new vis.Network(container[0],data, options);
		makeMeMultiSelect(container, network, data.nodes);
});
$(document).ready(() => {
		const container = $("#mynetwork2");
    const network = new vis.Network(container[0],data, options);
		makeMeMultiSelect(container, network, data.nodes);
});
$(document).ready(() => {
		const container = $("#mynetwork3");
    const network = new vis.Network(container[0],data, options);
		makeMeMultiSelect(container, network, data.nodes);
});

function getSelectedNodes(){
    alert(selection);
    document.getElementById('values').value = selection;
    return selection;

}

</script>

{% endblock %}